<div class="container content">
	<div class="panel" >
	
		<div class="panel-heading">
			<h1 class="panel-title">
				Lista CandidateStates 
				<!-- div aggiorna pagina -->
				<div class="control-table" align="right">
<!-- 					<a href="#/register-new-course" class="btn-control btn-control-new" role="button"></a> -->

				</div>
			</h1>
		</div>
		
		<div class="panel-body">
			<div id="data-table-default_wrapper"
				class="dataTables_wrapper  form-inline dt-bootstrap no-footer">

					<div  class="table-responsive">
						<table id="data-table-default"
							class="table table-striped  table-bordered  no-footer dtr-inline"
							aria-describedby="data-table-default_info"
							style="width: 1040px;">
					
							<thead>
								<tr>
									<th  scope="col" >Id</th>
									<th  scope="col" >Role Id</th>
									<th  scope="col" >Status Code</th>
									<th  scope="col" >Status Color</th>
									<th  scope="col" >Status Label</th>
									<th  scope="col" >Status Description</th>
									
<!-- 									<th  scope="col">Codice</th> -->
<!-- 									<th width="100" scope="col"></th> -->
<!-- 									<th width="100" scope="col"></th> -->
<!-- 									<th width="175" scope="col">On/Off</th> -->
								</tr>
							</thead>
							<tbody>
							<tr ng-repeat="current in list | filter:search"
									 scope="row">
									
									<td>{{current.id}}</td>
									<td>{{current.roleId}}</td>
									<td>{{current.statusCode}}</td>
									<td style="height: 5%; width: 5%; background-color: {{current.statusColor}}"></td>
									<td>{{current.statusLabel}}</td>
									<td>{{current.statusDescription}}</td>
									
									
								
								</tr>
							</tbody>

						</table>
				</div>
			</div>
		</div>
		
	</div>
</div>