<div class="container">
    <div class="panel">
        <div class="panel-heading">
            <h1 class="panel-title">Inserisci nuovo CandidateStates</h1>
        </div>
        <div class="panel-body ">
            <div class="container">
                <form class="form-horizontal">

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="roleId">RoleId</label>
                        <div class="col-md-7">
                            <input type="text" name="roleId" ng-model="myForm.roleId" class="form-control input-sm" placeholder="Inserisci RoleId"
                                 maxlength="50"/>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="statusCode">StatusCode</label>
                        <div class="col-md-7">
                            <input type="text" name="lastname" ng-model="myForm.statusCode" class="form-control input-sm" placeholder="Inserisci StatusCode"
                                 maxlength="50"/>
                        </div>
                    </div>
                   

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="statusLabel">Status Label</label>
                        <div class="col-md-7">
                            <input type="text" name="statusLabel" ng-model="myForm.statusLabel" class="form-control input-sm" placeholder="Inserisci statusLabel" 
                            maxlength="100"
                            />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="statusDescription">Status Description</label>
                        <div class="col-md-7">
                            <input type="date" name="dateOfBirth" ng-model="myForm.statusDescription" class="form-control input-sm" placeholder="Inserisci statusDescription"
                                 />
                        </div>
                    </div>

                   
                </form>
            </div>
        </div>
    </div>
</div>