<div class="container content">
	<div class="panel">
		<div class="panel-heading">
			<h1 class="panel-title">Modifica Corso</h1>
		</div>
		<div class="panel-body ">
			<div class="container">
				<form ng-submit="submitUserForm()" name="myForm"
					class="form-horizontal">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="title">Titolo</label>
						<div class="col-md-7">
							<input type="text" name="title"
								ng-model="myForm.title"
								class="form-control input-sm"  maxlength="50"/>
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="code">Codice</label>
						<div class="col-md-7">
							<input type="text" name="code"
								ng-model="myForm.code"
								class="form-control input-sm"  maxlength="50" />
						</div>
					</div>

					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="bodyText">Html</label>
						<div class="col-md-7">
							<textarea  name="bodyText" ng-model="myForm.bodyText"
								class="form-control input-sm"  ></textarea>
						</div>
					</div>

					<div align="center">

						<input type="submit" value="Modifica" ng-click="editCoursePage()"
							class="btn btn-primary btn-sm">
						<a href="#/list-all-courses" type="button"
							class="btn btn-danger btn-sm">Indietro e annulla</a> <input
							type="hidden" name="id" id="userId"
							ng-model="myForm.coursePageId"
							value="{{myForm.coursePageId}}">

					</div>
				</form>
			</div>
		</div>
	</div>
</div>