

	<div class="container">
	
		<div class="row">
		    
		    <div class="col-sm-12">	
				<p>
					Per cortesia inserisci i dati richiesti e clicca su candidati.
				</p>
			</div>
			<div class="col-sm-4">
				<p>
					Nome (obbligatorio)<br /> <span
						class="wpcf7-form-control-wrap your-name"><input type="text"
						id="firstname" value="" size="40"
						class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
						aria-required="true" aria-invalid="false" /></span>
				</p>
				<label id="firstnameError" style="display: none;">nome non valido</label>
			</div>
			
			<div class="col-sm-4">	
				<p>
					Cognome (obbligatorio)<br /> <span
						class="wpcf7-form-control-wrap your-surname"><input type="text"
						id="lastname" value="" size="40"
						class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
						aria-required="true" aria-invalid="false" /></span>
				</p>
				<label id="lastnameError" style="display: none;">cognome non valido</label>
			</div>
			
			<div class="col-sm-4">	
				<p>
					Email (obbligatorio)<br /> <span
						class="wpcf7-form-control-wrap your-email"><input type="email"
						id="email" value="" size="40"
						class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
						aria-required="true" aria-invalid="false" /></span>
				</p>
				<label id="emailError" style="display: none;">email non valida</label>
			</div>
		
		</div>
		
		<div class="row">
		
			<div class="col">
	
				<div class="text-center">
					<!--  <input type="submit" value="Candidati"-->
					
					 <input type="submit" value="Candidati" class="wpcf7-form-control wpcf7-submit" onclick="insert();" />
					
					</a>
			
			
			
				</div>
	
			</div>
	
		
		</div>

	</div>
