

<!-- 	<div class="container"> -->

<!-- 		<div class="row"> -->

<!-- 			<div class="col"> -->

<!-- 				<div class="alert alert-danger" style="margin-top: 1rem"> -->
<!-- 					<strong>Attenzione!</strong> -->
<!-- 					Si è verificato un errore durante la registrazione. Si prega di riprovare più tardi. -->
<!-- 				</div> -->

<!-- 			</div> -->

<!-- 		</div> -->


<!-- 	</div> -->

<div class="container">
	<div class="panel">
		<div class="panel-body ">
			<div class="container">
				<div class="sw-container tab-content responseText"
					style="min-height: 280px;">
					Attenzione! <br> La tua candidatura non è andata a buon fine per problemi tecnici. <br> Si prega di riprovare più tardi. 
				</div>
			</div>
		</div>
	</div>
</div>
