@media only screen and (max-device-width: 480px) {
	body {
	}
	.footer2 {
	    position: relative;
	}
	.paragraph, ul {
    font-size: 0.9rem;
      }

}
@media(max-height:600px){
	
	.paragraph, ul {
    font-size: 0.7rem;
      }

}