<div class="container content">
    <div class="panel">
        <div class="panel-heading">
            <h1 class="panel-title">Inserisci nuovo Candidato</h1>
        </div>
        <div class="panel-body ">
            <div class="container">
                <form class="form-horizontal" ng-class="{'submitted': submitted}" ng-submit="save()">

                    <div class="form-group col-md-12">
                        <label   class="col-md-2 control-lable" for="firstname">Nome</label>
                        <div class="col-md-7">
                            <input   type="text"  name="firstname" ng-model="myForm.firstname" class="form-control input-sm" placeholder="Inserisci nome"
                               pattern="[A-Za-zÀ-ÿ ]{1,50}" required />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="lastname">Cognome</label>
                        <div class="col-md-7">
                            <input   type="text" name="lastname"  ng-model="myForm.lastname" class="form-control input-sm " placeholder="Inserisci cognome"
                                 pattern="[A-Za-zÀ-ÿ ]{1,50}" required/>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="courseCode" readonly>CODICE</label>
                        <div class="col-md-7">
                        <select name="courseCode" ng-model="course" required>
                        	<option  default disabled selected >{{course}}</option>
							<option  ng-hide="course == current.code" value={{current.code}} ng-repeat="current in codes">{{current.code}}</option>
						</select>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="email">E-Mail</label>
                        <div class="col-md-7">
                            <input type="text" name="email" ng-model="myForm.email" required class="form-control input-sm" placeholder="Inserisci email" 
                            maxlength="100" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="dateOfBirth">Data di nascita</label>
                        <div class="col-md-7">
                            <input type="date" name="dateOfBirth" ng-model="myForm.dateOfBirth" class="form-control input-sm" placeholder="Inserisci data di nascita"
                                 />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="domicileCity">Domicilio</label>
                        <div class="col-md-7">
                            <input type="text" name="domicileCity" ng-model="myForm.domicileCity" class="form-control input-sm" maxlength="100" placeholder="Inserisci citta' del domicilio"
                                 maxlength="100"/>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="domicileStreetName">Via</label>
                        <div class="col-md-7">
                            <input type="text" name="domicileStreetName" ng-model="myForm.domicileStreetName" class="form-control input-sm" placeholder="Inserisci via del domicilio"
                                 maxlength="100"/>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="domicileHouseNumber">Numero Civico</label>
                        <div class="col-md-7">
                            <input type="number" name="domicileHouseNumber" ng-model="myForm.domicileHouseNumber" class="form-control input-sm" placeholder="Inserisci numero civico"
                                 maxlength="100" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="studyQualification">Titoli di studio</label>
                        <div class="col-md-7">
                            <input type="text" name="studyQualification" ng-model="myForm.studyQualification" class="form-control input-sm" placeholder="Inserisci titolo di studio"
                                 maxlength="300"/>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="mobile">Cellulare</label>
                        <div class="col-md-7">
                            <input type="tel" name="mobile" ng-model="myForm.mobile" ng-value="mobile"class="form-control input-sm" placeholder="Inserisci cellulare"
                                 maxlength="20" />
                        </div>
                    </div>

                    <hr>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="graduate">Laurea</label>
                        <div class="col-md-7">
                            <input type="checkbox" id="myForm.graduate" ng-model="myForm.graduate" name="graduate" class="form-control input-sm" ng-init="myForm.graduate=false"
                                ng-checked="myForm.graduate" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="high_graduate">Laurea magistrale</label>
                        <div class="col-md-7">
                            <input type="checkbox" id="myForm.highGraduate" ng-model="myForm.highGraduate" name="highGraduate" class="form-control input-sm"
                                ng-init="myForm.highGraduate=false" ng-checked="myForm.highGraduate" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="still_high_study">Laurea/Laurea Magistrale in corso</label>
                        <div class="col-md-7">
                            <input type="checkbox" id="myForm.stillHighStudy" ng-model="myForm.stillHighStudy" name="still_high_study" class="form-control input-sm"
                                ng-init="myForm.stillHighStudy=false" ng-checked="myForm.stillHighStudy" />
                        </div>
                    </div>

                    <hr>
                        <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="candidateNote" readonly>Come ci hai conosciuti ?</label>
                        <div class="col-md-7">
                        <select name="originSite" ng-model="myForm.site"  style="width:350px">
							<option  value={{current.description}} ng-repeat="current in site">{{current.label}}</option>
							</select> 
                        </div>
                        </div>
                    <hr>

                    <div class="form-group col-md-12 form-inline">
                        <label class="col-md-2 control-lable" for="imgpath">Immagine Profilo <img src="./img/info.png" width="25" height="25"
                                border="6" title="Formati: .jpg, .jpeg, .png Dimesione massima: 5MB" data-toggle="tooltip">
                        </label>
                    
                        <div class="col-md-7 form-inline">
                            <input type="file" file-model="myForm.files[0]" class="form-control input-sm" accept=".jpg, .jpeg, .png" onchange="loadFile(event)" 
                            />
                            <img id="output" width="60" height="60" border="0" style="padding: 10px; float: right;" />

                        </div>
                    </div>
                    <script>
                        var loadFile = function (event) {
                            var output = document.getElementById('output');
                            output.src = URL
                                .createObjectURL(event.target.files[0]);
                            console.log("output.src : " + output.src);
                        };
                    </script>

                    <div class="form-group col-md-12 form-inline">
                        <label class="col-md-2 control-lable" for="cvExternalPath">Curriculum Vitae <img src="./img/info.png" width="25" height="25"
                                border="6" title="Formati: .docx, .pdf, .doc Dimesione massima: 5MB" data-toggle="tooltip"> </label>
                        <div class="col-md-7">
                            <input type="file" file-model="myForm.files[1]" class="form-control input-sm" accept=".docx, .pdf, .doc" />
                        </div>

                    </div>
                    <br><br>
                     <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="candidateNote" readonly>Prepopola il campo note con</label>
                        <div class="col-md-7">
                        <select name="candidateNote" ng-model="myForm.noteTemplate"  style="width:350px">
							<option  value={{current.content}} ng-repeat="current in noteTemplates">{{current.title}}</option>
						</select>       <button type="button" ng-click="popolaForm()" class="btn btn-primary btn-sm">Popola</button>
                        </div>
                        </div>
                        <br><br>
<!--                     <button type="button" ng-click="popolaForm()" class="btn btn-primary btn-sm">Popola</button> -->
<!--                     <br><br> -->
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="note">Note</label>
                        <div class="col-md-7">
                            <textarea id="myText" name="note" ng-model="myForm.note" rows="10" maxlength="2000"
								class="form-control input-sm"  ></textarea>
                        </div>
                         <p>&emsp;&emsp; 
                        <span id= "wordCount" >Caratteri rimanenti:  {{notelengthmax}}</span>
                        </p>
                    </div>
                    <div align="center">

                        <!-- <input type="submit" value="Register User" class="btn btn-primary btn-sm"> -->                     
							 <button type="submit" class="btn btn-default" ng-click="submitted= true;submitUserForm()">Inserisci</button>
<!--                         <button type="button" ng-click="resetForm()" class="btn btn-warning btn-sm">Cancella</button> -->
                        <!-- <input type="hidden" name="id" id="idCandidate" value=""> -->
                        <a href="#/list-all-candidates" type="button" class="btn btn-danger btn-sm">Indietro</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>