<!-- <div class="container"> -->
<!-- 	<div class="panel"> -->
<!-- 		<div class="panel-heading"> -->
<!-- 			<h1 class="panel-title">Registra una nuova intervista</h1> -->
<!-- 		</div> -->
<!-- 		<div class="panel-body "> -->
<!-- 			<div class="container"> -->
<!-- 				<form ng-submit="submitInterviewForm()" name="myForm" -->
<!-- 					class="form-horizontal"> -->
<!-- 					<div class="form-group col-md-12"> -->


<!-- 						<div class="form-group col-md-12"> -->
<!-- 							<label class="col-md-2 control-lable" for="userId">Utente</label> -->
<!-- 							<div class="col-md-7"> -->
								
<!-- 								<select id="userId" ng-model="user"> -->
<!-- 									<option ng-repeat="operator in users" value="{{operator.id}}"> -->
<!-- 										{{operator.email}}</option> -->
<!-- 								</select> -->

<!-- 							</div> -->
<!-- 						</div> -->

<!-- 						<div class="form-group col-md-12"> -->
<!-- 							<label class="col-md-2 control-lable" for="interviewId">Intervista</label> -->
<!-- 							<div class="col-md-7"> -->


<!-- 								<select id="interviewId" ng-model="interview"> -->
<!-- 									<option ng-repeat="operator in interviews" value="{{operator.id}}"> -->
<!-- 										{{operator.label}}</option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 						</div> -->

						
<!-- 						<div align="center"> -->
<!-- 							<input type="submit" value="Inserisci e invia" -->
<!-- 								class="btn btn-primary btn-sm"> -->
<!-- 							<button type="button" ng-click="resetForm()" -->
<!-- 								class="btn btn-warning btn-sm">Reset</button> -->
<!-- 							<a href="#/list-all-interviewreplies" type="button" -->
<!-- 								class="btn btn-danger btn-sm">Indietro e annulla</a> -->
<!-- 							<input type="hidden" name="id" id="id" value=""> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</form> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->