<div class="container content">
    <div class="panel">
        <div class="panel-heading">
            <h1 class="panel-title">Inserisci nuovo sito di provenienza</h1>
        </div>
        <div class="panel-body ">
            <div class="container">
                <form class="form-horizontal">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="description">Descrizione</label>
                        <div class="col-md-7">
                            <input type="text" name="description" ng-model="myForm.description" class="form-control input-sm" placeholder="Inserisci descrizione"
                                 pattern="[A-Za-zÀ-ÿ]{5,2000}" required>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="imgpath">Path immagine</label>
                        <div class="col-md-7">
                            <input type="text" name="imgpath" ng-model="myForm.imgpath" class="form-control input-sm" placeholder="Inserisci path immagine"
                                 pattern=".{0,255}">
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-lable" for="label">Etichetta</label>
                        <div class="col-md-7">
                            <input type="text" name="label" ng-model="myForm.label" class="form-control input-sm" placeholder="Inserisci etichetta" 
                            pattern="[A-Za-zÀ-ÿ]{3,100}" required>
                        </div>
                    </div>
					
                    <div align="center">
                        <button type="submit" ng-click="submitUserForm()" class="btn btn-primary btn-sm">Inserisci</button>
                        <a href="#/list-all-originsites" type="button" class="btn btn-danger btn-sm">Indietro</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
