
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* .responseText{ */
/* 	font-size: 1.5rem; */
/* } */

/* .starter-template { */
/*   padding: 3rem 4rem 0rem 4rem; */
/*   text-align: center; */
/*   font-size:10px; */
/* } */
/* h1 { */
        
/*            font-size: 1.5rem; */
/*        }  */
/* .paragraph { */
/*     font-size: 0.9rem; */
/*           font-weight: 300; */
/*       } */
/*       .bg-dark { */
/*     background-color: #000000 !important; */
/* } */

/* #headerlogoproxima{ */
/* 	height:50px; */
/* } */

/* #noticeModalError { */
    
/*     padding: 13px; */
/*     font-size: larger; */
/*     margin-top: 1%; */

/* } */
/* .panel-body{ */
/* 	margin-top: 20px; */
/* } */

/* .navbar {     */
/*     padding: 0rem 1rem; */
/* } */

/* .titleAcd{ */
/* 	border-bottom: 1px dashed #767676; font-weight: 800; display: block; color: #000000; */
/* } */

/* .jumbotron { */
/*     padding: 1rem 1rem; */
/* } */
.sw-main .sw-container .step-content {
    padding: 30px;
}

/* .tab-content { */
/*     padding: 0px; */
/*     margin-bottom: 0px; */
/* } */
/* .container { */
/*     margin-top: 1%; */
/* } */

.sw-btn-next:hover {
    background: white;
    border-color: red;
    color:red;
}

.sw-btn-next {
    background: red;
    border-color: red;
    color:white;
}

.sw-btn-back:hover {
    background: red;
    border-color: white;
    color:white;
}

.sw-btn-back {
    background: white;
    border-color: red;
    color:red;
}

/* .sw-main .sw-toolbar .sw-btn-next:focus, .sw-main .sw-toolbar .sw-btn-next:hover { */
/*     background: white; */
/*     border-color: red; */
/*     color:red; */
/* } */

/* .sw-main .sw-toolbar .sw-btn-next:focus, .sw-main .sw-toolbar .sw-btn-next { */
/*     background: red; */
/*     border-color: red; */
/*     color:white; */
/* } */

/* .sw-main > ul.step-anchor.nav-tabs > li.active > a { */
/*     color: #fff !important; */
/*     background: red !important; */
/* } */

/* .sw-main > ul.step-anchor.nav-tabs > li.done > a .number, .sw-main > ul.step-anchor.nav-tabs > li.done > a .number::before { */
/*     background: red !important; */
/* } */

/* /* .col-md-4{ */ */
/* /*     padding-left:1px; */ */
/* /*     padding-right:1px;	 */ */
/* /* } */ */

/* /* input[type] { */ */
/* /*   max-width: 90%; */ */
/* /*   padding: 12px 20px; */ */
/* /*   margin: 8px 0; */ */
/* /*   box-sizing: border-boxinherit; */ */
/* /*   border: 3px solid #ccc; */ */
/* /*   -webkit-transition: 0.5s; */ */
/* /*   transition: 0.5s; */ */
/* /*   outline: none; */ */
  
  
  
/* /* } */ */
/* /* input[type=submit] { */ */
/* /*     width: 50%; */ */
/* /*     height: 50%; */ */
/* /*     max-width: 33%; */ */
/* /* 	border:0px; */ */
/* /* 	margin:50px 0px; */ */
/* /* 	background-color: red; */ */
/* /*     border: 1px solid red; */ */
/* /*     position:relative; */ */
/* /*     display: inline-block; */ */
/* /*     font-family: "Raleway",sans-serif; */ */
/* /*     font-size: 13px; */ */
/* /*     line-height: 50px; */ */
/* /*     font-weight: 700; */ */
/* /*     color: #fff; */ */
/* /*     text-transform: uppercase; */ */
/* /*     cursor: pointer; */ */
/* /*     background-color: red ; */ */
/* /* 	color: black ; */ */
  
/* /* } */ */

/* /* input[type=submit]:hover { */ */
/* /* 	background-color: red; */ */
/* /* 	color: black; */ */
	
	
/* /* } */ */

/* /* #masthead { */ */
/* /*     position: relative; */ */
/* /*     background-color: #000; */ */
/* /*     top: 0; */ */
/* /*     left: 0; */ */
/* /*     width: 100%; */ */
/* /*     z-index: 1000; */ */
/* /*     padding: 20px 0; */ */

/* /* } */ */


/* /* .site-logo { */ */
/* /*     padding-top: 5px; */ */
/* /*     max-height: 80px; */ */
/* /*     max-width: 100%; */ */
/* /*     height: auto; */ */
/* /*     vertical-align: middle; */ */
/* /*     border: 0; */ */

/* /* } */ */

/* body{ */

/* /* */
/* font-family: 1rem/2rem "Source Sans Pro",sans-serif; */
/* */ */
/* font-size: 12px; */
/* font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif; */
/* /* margin: 10px;  */ */
/* margin:0; */
/* 		padding:0; */
/* 		height:100%; */
/* position: relative; */
/*   margin: 0; */
/*   padding-bottom: 6rem; */

/* } */

/* container{ */
/*     padding-right: inherit !important; */
/*     padding-left: inherit !important; */
/*     margin-right: inherit !important; */
/*     margin-left: inherit !important; */


/* } */

/* .color{ */
/* 	background-color: #ff8080 !important; */
/* 	border: 2px solid red !important; */
/* } */

/* footer { */
   

/*   position: fixed; */
/*   left: 0; */
/*   bottom: 0; */
/*   width: 100%; */
/*   background-color: white; */
/*   text-align: center; */
  
/* } */

/* /* .footer { */ */
/* /*   clear: both; */ */
/* /*     position: relative; */ */
/* /*     height: 40px; */ */
/* /*     margin-top: -40px; */ */
/* /* } */ */
/* #footerimage{	 */
/*     max-height:50px; */

/* } */
/* img { */
/*     max-width: 100%; */
/*     height: auto; */
/* } */
/* img { */
/*     vertical-align: middle; */
/* } */
/* img { */
/*     border: 0; */
/* } */
/* img { */
/*     vertical-align: middle; */
/*     border-style: none; */
/* } */